<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Users List'">
      <span class="m-b-20"></span>
      <div class="dt-responsive">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-sm-12 col-md-2">
            <div>
              <label class="label-control">Show
                <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                </select>
                entries
              </label>
            </div>
          </div>
          <div class="col-md-7">
              <app-filter [page]="'users'"></app-filter>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-3">
            <div style="text-align: right;">
              <label>Search:
                <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
              </label>
            </div>
          </div>
        </div>
        <!-- <div class="panel-heading">User information</div>-->
        <div class="table-responsive">
          <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
                 [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
            <tr>
              <th>
                <mfDefaultSorter  by="name">Name</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter  by="age">Age</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="gender">Gender</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter  by="nationality">Nationality</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="active">Active</mfDefaultSorter>
              </th>   
              <th>Actions</th>          
            </tr>
            <tr>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let item of mf.data">
              <td> <a [routerLink]="['/','user','profile']" [queryParams]="{id: item.name}">{{item.name}}</a></td>
              <td>{{item.age}}</td>
              <td>{{item.gender}}</td>
              <td>{{item.nationality}}</td>
              <td>{{item.active}} days</td>
              <td><a title="Inactive" class="btn btn-primary btn-sm" style="font-size:12px; color: #fff;font-size: 12px;padding:4px 8px;"><i class="ti-na" style="margin-right:0px;"></i></a>&nbsp; <a title="Remove" class="btn btn-danger btn-sm"  style="font-size:12px; color: #fff;font-size: 12px;padding:4px 8px;"><i class="ti-trash" style="margin-right:0px;"></i></a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <th>Name</th>
              <th>Age</th>
              <th>Gender</th>
              <th>Nationality</th>
              <th>Active</th>
            </tr>
            <tr>
              <td colspan="6">
                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </app-card>
  </div>
</div>
