<div>
  <div *ngIf="listVisible">
    <div class="row">
      <div class="col-sm-12 m-b-20">
        <button class="btn btn-primary" (click)="addForm()">Add</button>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="row card" *ngFor="let nl of nlData">
      <div class="col-sm-12">
        <p><b>Q:</b> {{nl.question}}</p>
      </div>
      <div class="clearfix"></div>
      <div class="col-sm-12">
        <p><b>Ans:</b> {{nl.answer}}</p>
      </div>
      <div class="clearfix"></div>
     
    </div>
  </div>
  <div *ngIf="formVisible">

    <form [formGroup]="cmsForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-sm-12">
                <div class="alert alert-success" *ngIf="isSuccess"><i class="icofont icofont-check-circled"></i>Updated Successfully</div>
                <div class="alert alert-danger" *ngIf="isError"><i class="icofont icofont-error"></i>Something went wrong, Please try again.</div>
              </div>
        <div class="col-sm-12">
          <label>
            Question:
          </label>
          <input type="text" class="form-control" formControlName="title" [(ngModel)]="title"
            [ngClass]="{'error':(submitted && cmsForm.controls.title.errors)}">
          <div *ngIf="submitted && cmsForm.controls.title.errors" class="error">
            <div *ngIf="cmsForm.controls.title.errors.required">Question is required</div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12">
          <label>
            Answer:</label>
          <textarea formControlName="description" class="form-control" [(ngModel)]="description"
            [ngClass]="{'error':submitted && cmsForm.controls.description.errors}"></textarea>
          <div *ngIf="submitted && cmsForm.controls.description.errors" class="error">
            <div *ngIf="cmsForm.controls.description.errors.required">Answer is required</div>
          </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-sm-12" style="text-align:center">
          <button type="submit" class="btn btn-primary m-t-10">Submit</button> &nbsp;
          <button class="btn btn-danger m-t-10" (click)="cancel()">Cancel</button>
        </div>
      </div>
    </form>

  </div>
</div>