<div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Jobs'">
        <span class="m-b-20"></span>
        <div class="dt-responsive">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-sm-12 col-md-2">
              <div>
                <label class="label-control">Show
                  <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-md-7">
                <app-filter [page]="'jobs'"></app-filter>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
              <div style="text-align: right;">
                <label>Search:
                  <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                </label>
              </div>
            </div>
          </div>
          <!-- <div class="panel-heading">User information</div>-->
          <div class="table-responsive">
            <table datatable class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
                   [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
              <tr>
                <th>
                  <mfDefaultSorter  by="name">Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter  by="dimension">Dimension</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="title">Title</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="description">Description</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter  by="date">Date & Time</mfDefaultSorter>
                </th>                                 
              </tr>
              <tr>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of mf.data">
                <td>{{item.name}}</td>
                <td>{{item.dimension}}</td>
                <td>{{item.title}}</td>
                <td>{{item.description}}</td>
                <td>{{getDateString(item.date)}}</td>
              </tr>
              <tr *ngIf="mf.data.length<=0" style="text-align:right"><td></td><td><b>No Data Found</b></td></tr>
              </tbody>
              <tfoot>
              <tr>
                <th>Name</th>
                <th>Dimension</th>
                <th>Title</th>
                <th>Description</th>
                <th>Date & Time</th>
              </tr>
              <tr>
                <td colspan="6">
                  <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                </td>
              </tr>
              </tfoot>
            </table>
          </div>
        </div>
      </app-card>
    </div>
  </div>
  